.container {
  border: thick solid black;
  width: 400px;
  height: 400px ;
    
  float: left;
}

.square {
  border: thin solid navy;
    font-family: 'Germania One', cursive;
  color: darkslategrey;
  border-radius: 12px;
  background-color: lightblue;
  width: 25%;
  height: 25%;
  float: left;
  box-sizing: border-box;
  font-size: 20pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
    border: thick solid black;
    background-color: salmon;
    margin: 2%;
    padding: 2%;
    border-radius: 13%;
    font-family: 'Germania One', cursive;
}
